{% extends 'base.html' %}

{% block content %}
<div class="shadow"
    style="position: fixed; bottom: 0; right: 0; padding: 10px; background-color: #f1f1f1; border-top-left-radius: 10px; box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); text-align: right;">
    <a href="http://sodiqdev.netlify.app"
        style="font-size: 1rem; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin: 0; color: #333;">Dasturchi:
        <span style="color: #ff6600;">Sodiq Oydinov</span></a>
</div>

<form class="container mt-5 pt-5" method="POST">
    <h3 class="pt-5">Kirish</h3>
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Foydalanuvchi nomi</label>
        <input name="username" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Parol</label>
        <input name="password" type="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-outline-success" value="Kirish">
    <p class="lead mt-3">Hisobingiz bo'lmasa ro'yxatdan o'ting <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a></p>
</form>
{% endblock content %}