{% extends 'base.html' %}

{% block content %}
<form class="container mt-5 py-5" method="POST">
    <h3>Kirish</h3>
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Foydalanuvchi nomi</label>
        <input name="username" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label  class="form-label">Parol</label>
        <input name="password" type="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-outline-success" value="Kirish">
</form>
{% endblock content %}