{% extends 'base.html' %}

{% block content %}
<div class="shadow"
  style="position: fixed; bottom: 0; right: 0; padding: 10px; background-color: #f1f1f1; border-top-left-radius: 10px; box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); text-align: right;">
</div>
<div id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<div class="container mt-5 pt-5 wow fadeInUp" data-wow-delay="0.3s">
  <div class="card mb-3 shadow">
    <img style="max-height: 500px;" src="{{ object.image_news.url }}" class="card-img-top"
      alt="Kechirasiz sizning brauzeringizda muammo bor yoki ushbu rasm admin tomonidan o'chirib yuborilgan">
    <div class="card-body">
      <h5 class="card-title">{{ object.title }}</h5>
      <p class="card-text">{{ object.body|safe }}<br><br><small class="float-start">{{ object.date }}</small> <small
          class="float-end">{{ user.username }} ({{ user.first_name.title }} {{ user.last_name.title }})</small></p>
    </div>
  </div>
</div>
{% endblock content %}