{% extends 'base.html' %}
{% block title %}{{ post.author.first_name.title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<form class="container mt-3" method="POST">
    {% csrf_token %}
    <h3>{{ post.title }}</h3>
    <strong>Chindan ham buni o'chirmoqchimisiz</strong>
    <input type="submit" value="Delete">
</form>
{% else %}
<p>Nimanidir noto'g'ri qildingiz</p>
{% endif %}
{% else %}
<p>Sizda ruxsat yo'q!</p>
{% endif %}
{% endblock content %}