{% extends 'base.html' %}
{% block title %}{{ post.author.first_name.title }}{% endblock %}

{% block content %}
<div class="shadow"
  style="position: fixed; bottom: 0; right: 0; padding: 10px; background-color: #f1f1f1; border-top-left-radius: 10px; box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); text-align: right;">
</div>
<div id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<div class="container mt-5">
  <div class="card mb-3 shadow">
    <img height="300px;" ; src="{{ i.image_news.url }}" class="card-img-top"
      alt="Kechirasiz sizning brauzeringizda muammo bor yoki ushbu rasm admin tomonidan o'chirib yuborilgan">
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
      <p class="card-text">{{ i.body|safe }} ... <br><a href="{% url 'home' %}">ko'proq o'qish</a> <br><small
          class="float-start">{{ i.date }}</small> <small class="float-end">{{ i.author.username.title }} ({{
          i.author.first_name.title }} {{ i.author.last_name.title }})</small></p>
    </div>
  </div>
</div>
{% endblock content %}