{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% for post in object_list %}
            <div class="card shadow row mt-5">
              <div class="card-header">
                {{ post.author }}
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'detail' post.pk %}">{{ post.title|slice:50 }}</a></h5>
                <p class="card-text">{{ post.body|slice:500|safe }} ...</p>
                  {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'update_article' post.pk %}" class="btn btn-primary shadow">Update</a>
                        <a href="{% url 'delete_article' post.pk %}" class="btn btn-danger shadow ms-3">Delete</a>
                    {% endif %}
                  {% endif %}
              </div>
            </div>
        {% endfor %}
    </div>

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for slider in main_slider %}
        {% if forloop.last %}
          <div class="carousel-item active corusel_res">
            <img src="{{ slider.slide_img.url }}" class="bd-placeholder-img responsive" width="100%" height="100%" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>{{ slider.slide_title }}
                </h1>
                <p>{{ slider.slide_body }}</p>
              </div>
            </div>
          </div>
        {% else %}
          <div class="carousel-item corusel_res">
            <img src="{{ slider.slide_img.url }}" class="bd-placeholder-img responsive" width="100%" height="100%" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>{{ slider.slide_title }}</h1>
                <p>{{ slider.slide_body }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing mt-3">

    <!-- Three columns of text below the carousel -->
    <div class="row py-4">
      {% for person in worker %}
        {% if person.rector %}
          <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid green;" class="col-lg-4 shadow">
            <a href="{{ person.url_person }}"><img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ person.rasm.url }}" alt="Sizning brauzeringizda muammo bor !"></a>
            <h3 class="fw-normal">{{ person.kasbi }}</h3>
            <p>{{ person.malumot }}</p>
            <a href="{{ person.url_person }}" class="btn btn-primary my-3">Aloqaga chiqish</a>
          </div>
        {% else %}
          <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4">
            <a href="{{ person.url_person }}"><img class="bd-placeholder-img rounded-circle py-1" width="140" height="140" src="{{ person.rasm.url }}" alt="Sizning brauzeringizda muammo bor !"></a>
            <h3 class="fw-normal">{{ person.kasbi }}</h3>
            <p>{{ person.malumot }}</p>
            <a href="{{ person.url_person }}" class="btn btn-primary my-3">Aloqaga chiqish</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <p>{{ object.hit_count }}</p>

    <!-- START THE FEATURETTES -->


    {% for data in data_about %}
      {% if forloop.counter|divisibleby:2 %}
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">{{ data.data_title }}</h2>
            <p class="lead">{{ data.data_body }}</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img style="border-radius: 10px; max-height: 500px;" src="{{ data.data_image.url }}" class="shadow bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" width="500" height="500" alt="" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
          </div>
        </div>
      {% else %}
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">{{ data.data_title }}</h2>
            <p class="lead">{{ data.data_body }}</p>
          </div>
          <div class="col-md-5">
            <img style="border-radius: 10px; max-height: 500px;" src="{{ data.data_image.url }}" class="shadow bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" width="500" height="500" alt="" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.585140486759!2d66.93584605332076!3d39.71852233322608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d1765336511c7%3A0xf65fb541e6f84f24!2z0JDQvNGA0LDQutGD0LvQvtCyINCU0LDQvNC40YA!5e1!3m2!1sen!2s!4v1675105590320!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--  </div>-->
<!--</div>-->
{% for i in school_data %}
<div class="container">
    <div class="row">
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.pupils }}</h3>
        <p class="text-center">O'quvchilar soni</p>
      </div>
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid green;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.teachers }}</h3>
        <p class="text-center">O'qituvchilar soni</p>
      </div>
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.ishchi }}</h3>
        <p class="text-center">Xodimlar soni</p>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}