{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% for post in object_list %}
            <div class="card shadow row mt-5">
              <div class="card-header">
                {{ post.author }}
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'detail' post.pk %}">{{ post.title|slice:50 }}</a></h5>
                <p class="card-text">{{ post.body|slice:500|safe }} ...</p>
                  {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'update_article' post.pk %}" class="btn btn-primary shadow">Update</a>
                        <a href="{% url 'delete_article' post.pk %}" class="btn btn-danger shadow ms-3">Delete</a>
                    {% endif %}
                  {% endif %}
              </div>
            </div>
        {% endfor %}
    </div>

<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="media/images/10.jpg" class="bd-placeholder-img responsive" width="100%" height="100%" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Samarqand shahar 81-maktab
            </h1>
            <p>Maktab haqidagi yangilikalr va maktabga virtual sayohat</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="media/images/9.jpg" class="bd-placeholder-img" width="100%" height="100%" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Samarqand shahar 81-maktab</h1>
            <p>O'qituvchilar haqida ma'lumotlar</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="media/images/11.png" class="bd-placeholder-img" width="100%" height="100%" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Samarqand shahar 81-maktab</h1>
            <p>O'quvchilar uchun onlayn testlar</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for person in worker %}
        {% if person.rector %}
          <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid green;" class="col-lg-4 shadow">
            <a href="{{ person.url_person }}"><img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ person.rasm.url }}" alt="Sizning brauzeringizda muammo bor !"></a>
            <h3 class="fw-normal">{{ person.kasbi }}</h3>
            <p>{{ person.malumot }}</p>
            <a href="{{ person.url_person }}" class="btn btn-primary my-3">Aloqaga chiqish</a>
          </div>
        {% else %}
          <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4">
            <a href="{{ person.url_person }}"><img class="bd-placeholder-img rounded-circle py-1" width="140" height="140" src="{{ person.rasm.url }}" alt="Sizning brauzeringizda muammo bor !"></a>
            <h3 class="fw-normal">{{ person.kasbi }}</h3>
            <p>{{ person.malumot }}</p>
            <a href="{{ person.url_person }}" class="btn btn-primary my-3">Aloqaga chiqish</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <p>{{ object.hit_count }}</p>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Maktab haqida</h2>
        <p class="lead">19 mart kuni Samarqand shahrida 1680 o‘rinli yangi 81-sonli maktabning ochilish marosimi bo‘lib o‘tdi va deyarli 1700 o‘rinli yangi maktab foydalanishga topshirildi. Bu viloyatdagi eng yirik maktab hisoblanadi. Maktabda 60 ta o‘quv xonasi, ikkita sport zali, shuningdek, futbol, voleybol maydonlari va tennis korti mavjud.</p>
      </div>
      <div class="col-md-5">
        <img style="border-radius: 10px;" src="media/images/upword.jpg" class="shadow bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto mt-5" width="500" height="500" alt="" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Ma’lumot uchun</h2>
        <p class="lead">Maktabga matematika fanidan 54, informatika fanidan 32, fizika fanidan 29, kimyo fanidan 26, biologiya fanidan 54, geografiya fanidan 24, rus tili va adabiyoti fanidan 15, ona tili va adabiyot fanidan 68, o‘zbek tili fanidan 24, ingliz tili fanidan 106, tarix fanidan 43, huquqiy bilim asoslari fanidan 11, tarbiya fanidan 15, iqtisod fanidan 2, tasviriy san’at fanidan 10, texnologiya fanidan 17, jismoniy tarbiya fanidan 26, musiqa fanidan 12, boshlang‘ich ta’lim fanidan 87 nafar pedagog hujjat topshirdi.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img style="border-radius: 10px;" src="media/images/4.jpg" class="shadow bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">O'qituvchilar haqida</h2>
        <p class="lead">Dastlab bizga murojaat qilganlar soni 944 nafar edi. Bular ichidan eng bilimli o‘qituvchilarni saralab olish maqsadida ish.uzedu.uz sayti orqali ro‘yxatdan o‘tish haqida e’lon berdik. Negadir talabgorlardan 681 nafari ro‘yxatdan o‘tdi, ammo biz e’lonni viloyat xalq ta’limi boshqarmasining ijtimoiy tarmoqlardagi sahifalari va boshqa saytlar orqali keng tarqatdik. Kecha, 26 iyul kuni Samarqand davlat universitetining fizika fakultetida talabgor o‘qituvchilardan test sinovlari asosida imtihon olindi. Imtihonni Vazirlar Mahkamasi huzuridagi ta’lim sifatini nazorat qilish viloyat hududiy boshqarmasi tashkil etdi. Test natijalari, ya’ni o‘qituvchining to‘plagan bali imtihon so‘ngida kompyuter ekranida paydo bo‘lib, har bir pedagog o‘zi olgan baldan xabardor bo‘ldi. Hozircha 681 nafar talabgordan eng yuqori ball to‘plagan 97 nafar o‘qituvchi maktabga ishga qabul qilinadi. Keyinroq yana ehtiyoj bo‘lsa, qolgan talabgorlardan ham ishga olishimiz mumkin. </p>
      </div>
      <div class="col-md-5">
        <img style="border-radius: 10px;" src="media/images/77.jpg" class="shadow mt-5 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <iframe class="shadow" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.585140486759!2d66.93584605332076!3d39.71852233322608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d1765336511c7%3A0xf65fb541e6f84f24!2z0JDQvNGA0LDQutGD0LvQvtCyINCU0LDQvNC40YA!5e1!3m2!1sen!2s!4v1675105590320!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--  </div>-->
<!--</div>-->
{% for i in school_data %}
<div class="container">
    <div class="row">
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.pupils }}</h3>
        <p class="text-center">O'quvchilar soni</p>
      </div>
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid green;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.teachers }}</h3>
        <p class="text-center">O'qituvchilar soni</p>
      </div>
      <div style="background-color: whitesmoke; border-radius: 10px; border: 1px solid blue;" class="col-lg-4 shadow">
        <h3 class="fw-normal text-center">{{ i.ishchi }}</h3>
        <p class="text-center">Xodimlar soni</p>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}