{% extends 'base.html' %}

{% block content %}
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<div class="shadow" style="position: fixed; bottom: 0; right: 0; padding: 10px; background-color: #f1f1f1; border-top-left-radius: 10px; box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); text-align: right;">
  <a href="http://sodiqoydinov.tilda.ws/" style="font-size: 1rem; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin: 0; color: #333;">Dasturchi: <span style="color: #ff6600;">Sodiq Oydinov</span></a>
</div>
{% for i in object_list %}
  <div class="container mt-5 pt-5 wow zoomIn" data-wow-delay="0.5s">
      <div class="card mb-3 shadow">
        <img style="max-height:500px;" src="{{ i.image_news.url }}" class="card-img-top" alt="Kechirasiz sizning brauzeringizda muammo bor yoki ushbu rasm admin tomonidan o'chirib yuborilgan">
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{ i.body|safe|slice:100 }} ... <br><a href="{% url 'news_detail' i.pk %}">ko'proq o'qish </a>. . . <br><small class="float-start">{{ i.date }}</small></p>
        </div>
      </div>
  </div>
{% endfor %}

{% endblock content %}