{% extends 'base.html' %}
{% block content %}
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner"></div>
</div>
<div class="shadow" style="position: fixed; bottom: 0; right: 0; padding: 10px; background-color: #f1f1f1; border-top-left-radius: 10px; box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); text-align: right;">
  <a href="http://sodiqoydinov.tilda.ws/" style="font-size: 1rem; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; margin: 0; color: #333;">Dasturchi: <span style="color: #ff6600;">Sodiq Oydinov</span></a>
</div>
<div class="container mt-5 pt-5 wow zoomIn" data-wow-delay="0.1s">
  <div class="pt-5">
    <nav style="border-radius: 20px;" class="shadow">
          <div class="container-fluid">
            <form method="post" action="{% url 'search_teacher' %}" method="get" class="d-flex" role="search">
              {% csrf_token %}
              <input class="form-control me-2" name="search" type="search" placeholder="Qidiruv" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Qidirish</button>
            </form>
          </div>
        </nav>
  </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for teacher_info in object_list %}
        <div class="col mt-5">
          <div class="card shadow">
            <div class="card-body">
              <img style="max-height: 250px; min-height: 250px;" src="{{ teacher_info.teacher_img.url }}" class="card-img-top" alt="...">
              <h5 class="card-title">{{ teacher_info.teacherfio }}</h5>
              <p class="card-text">{{ teacher_info.kasbi }}</p>
              <p class="card-text">{{ teacher_info.teacher_info|safe|slice:80 }} . . . <br></p>
<button type="button" class="btn btn-outline-primary mt-1 shadow" data-bs-toggle="modal" data-bs-target="#exampleModal{{ teacher_info.pk }}">
  Ko'proq ma'lumot
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ teacher_info.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ teacher_info.teacherfio }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img style="max-height: 300px; min-height: 300px;" src="{{ teacher_info.teacher_img.url }}" class="card-img-top" alt="...">
        <p class="card-text">{{ teacher_info.kasbi }}</p>
        <p class="card-text">{{ teacher_info.teacher_info|safe }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Orqaga qaytish</button>
        {% if user.is_staff %}
          <a href="tel:{{ teacher_info.teacher_tel }}" class="btn btn-primary">Aloqaga chiqish</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
              {% if user.is_authenticated %}
                {% if user.is_staff %}
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'edit_teacher_info' teacher_info.pk %}" class="mt-3 btn btn-sm btn-outline-warning shadow">Tahrirlash</a>
                      <a href="{% url 'remove_teacher_info' teacher_info.pk %}" class="mt-3 btn btn-sm btn-outline-danger shadow">O'chirish</a>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}